{
    "base_url": "https://open.goofish.pro",
    "appid": "您的APP_KEY",
    "app_secret": "您的APP_SECRET",
    "default_config": {
        "user_name": "您的闲鱼会员名",
        "province": 110000,
        "city": 110100,
        "district": 110101,
        "item_biz_type": 2,
        "sp_biz_type": 2,
        "channel_cat_id": "e11455b218c06e7ae10cfa39bf43dc0f",
        "stuff_status": 100,
        "express_fee": 0
    }
}
